* {
    box-sizing: border-box;
    padding: none;
    margin: none;
    font-family: "comic sans MS", "Comic Sans", cursive, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
    text-align: center;
}
